

.grid__container {
	background: #FFFFFF;
	display: grid;
	grid-gap: 24px;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(32, 1fr);
	position: relative;
	margin-bottom: 90px;

}

.grid__element {
	position: relative;
	overflow: hidden;
	}

.one {
	grid-column: 1/4;
	grid-row: 1/8;
}

.two {
	grid-column: 4/7;
	grid-row: 1/7;
}

.three {
	grid-column: 7/10;
	grid-row: 1/11;
}

.four {
	grid-column: 1/4;
	grid-row: 8/16;
}

.five {
	grid-column: 4/7;
	grid-row: 7/14;
}

.six {
	grid-column: 7/10;
	grid-row: 11/18;
}

.seven {
	grid-column: 1/4;
	grid-row: 16/24;
}

.eight {
	grid-column: 4/7;
	grid-row: 14/23;
}

.nine {
	grid-column: 7/10;
	grid-row: 18/27;
}

.ten {
	grid-column: 1/4;
	grid-row: 24/33;
}

.eleven {
	grid-column: 4/7;
	grid-row: 23/33;
}

.twelve {
	grid-column: 7/10;
	grid-row: 27/33;

}

.gallery-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
	width: 1110px;
	&__main {
		width: 635px;
		color: $main-txt-color;
		font-family: 'Mulish', sans-serif;
		font-size: 28px;
		font-style: normal;
		font-weight: 400;
	
	}
}
.gallery-text__menu-left {
		display: flex;
		flex-direction: column;
		font-family: 'Mulish', sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 200;

		& li {
		display: inline-block;
		}

		& a {
		color: $secondary-color;
		text-decoration: none;
		}

}
	

.Multimedia:hover {
	color: $main-txt-color;
}

.Interactive:hover {
	color: $main-txt-color;
}

.Branding:hover {
	color: $main-txt-color;
}

.gallery-text__menu-right {
		display: flex;
		flex-direction: column;
		font-family: 'Mulish', sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 200;

		& li {
		display: inline-block;
		}

		& a {
		color: $secondary-color;
		text-decoration: none;
		}
	
}

/*.Creative:hover {
    color: $main-txt-color;
}

.Packaging:hover {
    color: $tmain-txt-color;
}

.Coding:hover {
    color: $main-txt-color;
}*/
