.main-title-contact {
	width: 375px;
	color: $main-txt-color;
	font-family: 'Mulish', sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
}

.regular-small-contact {
	width: 345px;
	color: $main-txt-color;
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
}